{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-11 col-md-4 mx-auto mt-5">
            <h1>Sign up</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" type="submit">Register</button>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <p>If you already have account</p>
                    <a href="{% url 'login' %}">Sign in</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}